.forms {
  display: inline-flex;
  justify-content: space-evenly;
  /* align-items: center; */
  max-width: 1000px;
}

.new-book {
  flex: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 15rem; */
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;

}

.form {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.form-input {
  /* padding: 10px; */
  border-radius: 5px;
  border: 1px solid #ccc;
  /* width: 100%; */
}

.form-item {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  /* width: 10rem; */
}

author-genre, .new-author, .new-genre {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.new-btn {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #ff7b00;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 10px;
}
